.box-banner {
  .box-left {
    width: 40%;
  }
  .box-right {
    width: 60%;
    background-image: url("#{$images}/banner.svg");
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    height: 656px;
  }
}
.kairos-container.relative {
  .col-left {
    width: 488px;
  }
}
